.Que-header{
    margin-left: 15px;
    margin-top: 65px;
    width: 82.5%;
    height: 35px;
    background-color: skyblue;
    padding-top: 5px;
    font-size: 22px;
}
.header-name{
    margin-left: 10px;
}
#que-small{
    margin-left: 20px;
    font-size: 15px;
    color: white;
}
#summery-view{
    margin: 20px 0 0 200px;
    background-color: white;
    width: 400px;
    height: 260px;
    display: inline-block;
}
#summery-view h4{
    margin-left: 20px;
}
#queue-controller{
    background-color: white;
    width: 250px;
    height: 200px;
    display: inline-block;
}
#queue-controller h5{
    margin-left: 20px;
}
.inside{
    padding: 0 10px 0 10px;
}
.left-field-d{
    width: 190px;
    font-size: 15px;
}
#hold-btn{
    background-color: #3c8dbc;
    height: 30px;
    color: white;
    padding: 10px 0 0 70px;
    border-radius: 5px;
    cursor: pointer;
}
#redirect-btn{
    margin-top: 10px;
    background-color: tomato;
    height: 30px;
    color: white;
    padding: 10px 0 0 60px;
    border-radius: 5px;
    cursor: pointer;
}
.list-header{
    margin-left: 15px;
    margin-top: 10px;
    width: 82.5%;
    height: 35px;
    background-color: skyblue;
    padding-top: 5px;
    font-size: 22px;
}
#que-list{
    margin: 15px 0 0 35px;
}
.each-list{
    width: 250px;
    height: 150px;
    background-color: skyblue;
    border-radius: 8px;
}
.each-list-bottom{
    margin-top: 100px;
    background-color: #367fa9;
    height: 30px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}