.App{
  margin: 0;
}
.App-header {
  background-color: #3c8dbc;
  color: white;
  width: 100%;
  position: fixed;
}
.App-header-left {
  background-color: #367fa9;
  width: 15%;
  height: 50px;
}
.image{
  height: 90%;
  width: 80px;
  margin-left: 50px;
}