#Sample2-header{
    margin-left: 15px;
    margin-top: 65px;
    width: 82.5%;
    height: 35px;
    background-color: skyblue;
    padding-top: 5px;
    font-size: 22px;
}
#Sample2-header #Sample2-header-small{
    color: darkgray;
    font-size: 15px;
}
#right-side{
    float: right;
    margin-right: 250px;
}
.questions{
    margin: 20px 0 0 15px;
    background-color: white;
    width: 82.5%;
    height: 400px;
}
#questions-head{
    padding: 10px;
}
#left-fields{
    border: 1px solid skyblue;
    width: 500px;
    padding: 8px;
    display: inline-block;
}
.tables{
    margin: 10px 0 0 10px;
}
.Qone{
    padding-left: 8px;
    width: 100px;
    border: 0.1px solid ;
}
.Qtwo{
    width: 300px;
    height: 21px;
}
#right-fields{
    border: 1px solid skyblue;
    width: 500px;
    padding: 8px;
    display: inline-block;
    margin-left: 30px;
}
.addBtn{
    background-color: #367fa9;
    color: white;
    width: 60px;
    margin: 10px 0 0 10px;
}
.bottom-part{
    margin-top: 20px;
    padding: 0 10px 0 10px;
}
button{
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}
#saveBtn{
    width: 80px;
    background-color: green;
    color:white;
}
#cancelBtn{
    margin-left: 15px;
    width: 80px;
    background-color: white;
    color: black;
}